<ion-content *ngIf="metadata && metadata.meta">
  <ion-toolbar slot="start">
    <ion-buttons>
      <ion-button [routerLink]="['../']" routerDirection="back">
        <ion-icon slot="start" name="chevron-back-sharp"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="banner" [style.--bg]="'url(' + (metadata.meta.background || media.Poster) + ')'"><ion-chip
      color="secondary" *ngIf="media._id" class="collection">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label>Coleção</ion-label>
    </ion-chip>
    <ion-chip [ngSwitch]="media.Ownership" (click)="media.Ownership = ownership.next().value!; dirty = true"
      class="ownership">
      <ng-container *ngSwitchCase="'tito'">
        <ion-label>Modo tito</ion-label>
        <ion-avatar>
          <img src="assets/tito.jpg" alt="">
        </ion-avatar>
      </ng-container>
      <ng-container *ngSwitchCase="'jujuba'">
        <ion-label>Modo jujuba</ion-label>
        <ion-avatar>
          <img src="assets/jujuba.jpg" alt="">
        </ion-avatar>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="we-wrapper">
          <ion-avatar>
            <img src="assets/tito.jpg" alt="">
          </ion-avatar>
          <ion-avatar>
            <img src="assets/jujuba.jpg" alt="">
          </ion-avatar>
        </div>
      </ng-container>
    </ion-chip>
    <ion-chip class="segment" (click)="toggleSegment()">
      <ng-container *ngIf="segment === 'about'">
        <ion-icon name="magnet-outline"></ion-icon>
        <ion-label>Streams</ion-label>
      </ng-container>
      <ng-container *ngIf="segment === 'streams'">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ng-container>
    </ion-chip>
    <div class="gradient"></div>
    <img class="logo" [src]="metadata.meta.logo" alt="">
  </div>
  <div class="p" [hidden]="segment !== 'about'">
    <time>{{metadata.meta.director || metadata.meta.country }}</time>
    <h1>{{metadata.meta.name}}</h1>
    <br>
    <div class="genres">
      <span class="label"><img height="18px" src="assets/IMDb_Logo_Alt_Rectangle_White.png" alt="">
        {{metadata.meta.imdbRating}}</span>
      <ng-container *ngIf="metadata.meta.runtime">
        <hr v>
        <span class="label">{{metadata.meta.runtime}}</span>
      </ng-container>
      <ng-container *ngIf="metadata.meta.year || metadata.meta.releaseInfo">
        <hr v>
        <span class="label">{{metadata.meta.year || metadata.meta.releaseInfo}}</span>
      </ng-container>
      <ng-container *ngIf="metadata.meta.genres && metadata.meta.genres.length > 0">
        <hr v>
        <span>
          <div>
            <a class="link" (click)="routeTo(genre)"
              *ngFor="let genre of metadata.meta.genres.slice(0,2); let i = index">
              {{genre}}{{i + 1 < metadata.meta.genres.slice(0, 2).length ? ',' : '' }} </a>
          </div>
        </span>
      </ng-container>
    </div>
    <p>{{metadata.meta.description}}</p>
    <ion-segment [(ngModel)]="media.Status" (ngModelChange)="dirty = true">
      <ion-segment-button value="To Watch">
        <ion-item lines="none">
          Vamos assistir
        </ion-item>
      </ion-segment-button>
      <ion-segment-button value="In Progress">
        <ion-item lines="none">
          Assistindo
        </ion-item>
      </ion-segment-button>
      <ion-segment-button value="Watched">
        <ion-item lines="none">
          Assistimos!
        </ion-item>
      </ion-segment-button>
    </ion-segment>
    <br>
    <ng-container [ngSwitch]="media.Status">
      <div *ngSwitchCase="'In Progress'">
        <div *ngIf="!metadata.meta.videos">
          <h3 class="text-center">
            {{millisecondsToTimeString(media.Timestamp ?? '0')}}/{{convertMinutesToTimeString(metadata.meta.runtime)}}
          </h3>
          <ion-range [(ngModel)]="media.Timestamp" (ngModelChange)="dirty = true"
            [max]="convertMinutesToMilliseconds(metadata.meta.runtime)">
            <ion-icon slot="start" name="play-sharp"></ion-icon>
          </ion-range>
        </div>
        <div class="details-wrapper" *ngIf="metadata.meta.videos">
          <div class="details" [ngClass]="{'open': activeIndex === i}"
            *ngFor="let season of generateSeasons(metadata.meta.videos) | keyvalue; let i = index">
            <div class="header" (click)="activeIndex = activeIndex === i ? -1 : i">
              <ion-checkbox (ionChange)="markSeasonAsWatched(season)"
                [checked]="isSeasonWatched(season)"></ion-checkbox>
              <span>Temporada {{season.key}}</span>
            </div>
            <div class="content">
              <div class="episode" *ngFor="let episode of season.value">
                <time>{{episode.number}}</time>
                <span (click)="presentEpisodeDescription(episode)">{{episode.name}}</span>
                <ion-checkbox (ionChange)="markAsWatched(episode)"
                  [checked]="media.WatchedEpisodes?.includes(seCode(episode))"></ion-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'Watched'">
        <div class="review-chat">
          <ng-container *ngFor="let review of media.Reviews | keyvalue">
            <div class="review">
              <ion-avatar>
                <img [src]="'assets/'+review.key+'.jpg'" />
              </ion-avatar>
              <ion-card class="ion-no-margin ion-padding comment"
                (click)="review.key === token ? editRemark(modal) : null">
                <span *ngIf="review.value">
                  {{review.value}}
                </span>
                <span class="stars">{{media.Remarks![review.key]}} <ion-icon name="star"></ion-icon></span>
              </ion-card>
            </div>
          </ng-container>
          <div class="review"
          *ngIf="(!media.Reviews || !media.Reviews[token]) && (!media.Remarks || !media.Remarks[token])">
            <ion-avatar>
              <img [src]="'assets/'+token+'.jpg'" />
            </ion-avatar>
            <ion-card class="ion-no-margin ion-padding comment" (click)="editRemark(modal)">
              Clique para adicionar sua review
            </ion-card>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="p" [hidden]="segment !== 'streams'">
    <div class="px">
      <ion-chip class="lang" [color]="selectedLanguages.includes(lang) ? '' : 'light'" (click)="toggleLanguage(lang)" *ngFor="let lang of languages">{{lang}}</ion-chip>
    </div>
    <ion-searchbar [value]="filter.title" placeholder="Buscar magnets" searchIcon="false" animated="true" (ionInput)="onSearchChange($event)" [debounce]="250"
      showClearButton></ion-searchbar>
    @if (!magnetLoading) {
    @for (magnet of magnets | query:filter | query:{title: selectedLanguages.join(' / ')}; track $index) {
    <ion-card (click)="openMagnet(magnet.infoHash)">
      <ion-card-header>
        <ion-card-title>{{magnet.title.split('\n')[0]}}</ion-card-title>
        <ion-card-subtitle>
          <span>{{magnet.title.split('\n')[1]}}</span>
          <span *ngIf="magnet.title.split('\n')[2] as lang">
            - {{lang}}
          </span>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    }
    @empty {
    <span>Nenhum magnet encontrado</span>
    }
    }
    @else {
      <ion-card  *ngFor="let i of [].constructor(5)">
        <ion-card-header>
          <ion-card-title>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </ion-card-title>
          <ion-card-subtitle>
            <span><ion-skeleton-text [animated]="true" style="width: 40%;"></ion-skeleton-text></span>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    }
  </div>
  <ion-modal #modal draggable="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="modal.dismiss()">
              <ion-icon slot="start" name="chevron-back-sharp"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>Review</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="rating">
          <ion-range [(ngModel)]="newRemark" [ticks]="true" [snaps]="true" [min]="0" [max]="10"></ion-range>
          <div class="inner-rating">
            <div class="fg-rating">
              <ion-icon *ngFor="let i of [].constructor(star)" name="star"></ion-icon>
              <ion-icon *ngFor="let i of [].constructor(half)" name="star-half"></ion-icon>
            </div>
            <div class="bg-rating">
              <ion-icon *ngFor="let i of [].constructor(5)" name="star-outline"></ion-icon>
            </div>
          </div>
        </div>
        <ion-card class="ion-padding">
          <ion-textarea class="ion-no-padding" [(ngModel)]="newReview" [autoGrow]="true" inputmode="text"
            placeholder="Digite o seu review!">
          </ion-textarea>
        </ion-card>
        <ion-button [disabled]="newRemark === 0" class="ion-padding" expand="block" (click)="saveReview(modal)" *ngIf="!media._id">
          <ion-icon slot="start" name="send-sharp" aria-hidden="true"></ion-icon>
          Salvar review
        </ion-button>
        <ion-button [disabled]="newRemark === 0" class="ion-padding" expand="block" (click)="publishReview(modal)" *ngIf="media._id">
          <ion-icon slot="start" name="send-sharp" aria-hidden="true"></ion-icon>
          Publicar review
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
<ion-footer *ngIf="dirty">
  <ion-button expand="full" (click)="upsert()">Salvar</ion-button>
</ion-footer>