/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


.text-center {
    text-align: center;
}

.media-grid {
    display: grid;
    gap: .5rem;
    margin: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    justify-content: center;
    .media {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span {
            font-size: 1.5rem;
            font-family: cursive;
        }
        time {}

        background-size: auto 100% !important;
        background-position: center !important;
        aspect-ratio: 2/3;
        width: auto;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
        }
        .status-icon {
            padding: 2px;
            border-radius: 100%;
            position: absolute;
            top: 2px;
            right: 2px;
        }
    }
}

ion-header {
    --background: rgba(255, 255, 255, 0.5); /* Example to set a semi-transparent white background */
}

.p {
    padding: 16px;
}

.px {
    padding: 0 16px;
}

.py {
    padding: 16 0;
}

hr[v] {
    width: 1px; height: 20px; display: inline-block;
    background: rgba(255, 255, 255, 0.186);
}

.chevron-active {
    transform: rotate(180deg);
}

.card-menu {
    --height: calc(100vw - 2rem);
    --width: calc(100vw - 2rem);
    --border-radius: 25px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
}

.card-menu::part(backdrop) {
    background: rgba(55, 55, 55, 0.3);
    opacity: .5;
}

.card-menu ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
}

@media (min-width: 768px) {
    .media-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}